Repository AssetMantle/modules, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, build/cicd

test(schema): update unit test of ReadData for ListData in string utility
  schema/data/utlities/string_test.go
Labels: test

test(schema): update unit test of qualified document, immutables & mutables
  schema/qualified/base/document_test.go
  schema/qualified/base/immutables_test.go
  schema/qualified/base/mutables_test.go
Labels: test

test(assets): update unit test for internal dummy validator parameter
  modules/assets/internal/parameters/dummy/validator_test.go
Labels: test

test(identities): remove unit tests for moved files
  modules/identities/internal/key/identityID_test.go
  modules/identities/internal/key/prototype_test.go
  modules/identities/internal/key/utilities_test.go
Labels: test

test(identities): remove unit tests for moved files in mapper
  modules/identities/internal/mappable/prototype_test.go
Labels: test

fix(maintainer): wip todo
  modules/identities/internal/utilities/identity.go
  modules/maintainers/internal/mappable/maintainer.go
  schema/mappables/maintainer.go
Labels: none

fix(conform): mutating immutables instead of mutables
  modules/assets/internal/transactions/mutate/keeper.go
  modules/identities/internal/transactions/mutate/keeper.go
  modules/orders/internal/transactions/take/keeper.go
Labels: none

fix(identities): logical errors
  modules/identities/internal/transactions/quash/keeper.go
  modules/maintainers/auxiliaries/deputize/keeper.go
  modules/maintainers/auxiliaries/revoke/keeper.go
Labels: none

test(maintainers): add unit test for verify keeper
  modules/maintainers/auxiliaries/verify/keeper_test.go
Labels: test

fix(docs): fix youtube channel link
  README.md
Labels: documentation

fix(docs): alt text
  README.md
Labels: documentation

fix(assets): compulsory burn property
  modules/assets/internal/transactions/burn/keeper.go
Labels: none

fix(message): on json marshall empty list converts to nil leading to incorrect sign bytes
  modules/assets/internal/transactions/define/message.go
  modules/assets/internal/transactions/deputize/message.go
  modules/assets/internal/transactions/mint/message.go
  modules/assets/internal/transactions/mutate/message.go
  modules/identities/internal/transactions/define/message.go
  modules/identities/internal/transactions/deputize/message.go
  modules/identities/internal/transactions/issue/message.go
  modules/identities/internal/transactions/mutate/message.go
  modules/orders/internal/transactions/define/message.go
  modules/orders/internal/transactions/deputize/message.go
  modules/orders/internal/transactions/immediate/message.go
  modules/orders/internal/transactions/make/message.go
  modules/orders/internal/transactions/modify/message.go
Labels: none

refactor(metaPropertyList): renaming constructor from NewMetaProperties in adherence with general convention
  modules/metas/auxiliaries/scrub/keeper_test.go
  modules/metas/auxiliaries/scrub/response_test.go
  modules/metas/auxiliaries/supplement/keeper.go
  modules/metas/auxiliaries/supplement/keeper_mock.go
  modules/metas/auxiliaries/supplement/response_test.go
  schema/lists/base/metaPropertyList.go
  schema/lists/base/metaPropertyList_test.go
  schema/lists/utilities/metaPropertyList.go
  schema/lists/utilities/metaPropertyList_test.go
Labels: test

refactor(metaPropertyList): renaming constructor from NewMetaProperties in adherence with general convention
  modules/assets/internal/transactions/mint/keeper.go
Labels: none

fix(classifications): logic only checked if the field is present without enforcing compulsory fields
  modules/classifications/auxiliaries/conform/keeper.go
Labels: none

fix(classifications): logic only checked if the field is present without enforcing compulsory fields
  modules/classifications/auxiliaries/conform/keeper.go
Labels: none

fix(classifications): logic only checked if the field is present without enforcing compulsory fields
  modules/classifications/auxiliaries/conform/keeper.go
Labels: none

defining(classifications): member auxiliary
  modules/classifications/auxiliaries/member/auxiliary.go
  modules/classifications/auxiliaries/member/keeper.go
  modules/classifications/auxiliaries/member/keeper_mock.go
  modules/classifications/auxiliaries/member/request.go
  modules/classifications/auxiliaries/member/request_test.go
  modules/classifications/auxiliaries/member/response.go
  modules/classifications/auxiliaries/member/response_test.go
  modules/classifications/auxiliaries/prototype.go
  modules/maintainers/auxiliaries/deputize/keeper.go
  schema/applications/base/application.go
Labels: test

feat(e2e): Initialize e2e
  Makefile
  README.md
  test.Dockerfile
  tests/e2e/Dockerfile
  tests/e2e/docker-compose.yaml
  tests/e2e/e2e_test.go
  tests/e2e/go.mod
  tests/e2e/go.sum
Labels: documentation, test, build/cicd

fix(build): rename branch variable
  Makefile
  README.md
  tests/e2e/Dockerfile
Labels: documentation, build/cicd

.github/labeler.yml:

"documentation":
  - LICENSE
  - NOTICE
  - .github/CODEOWNERS
  - "**/**.md"
  - "**.md"
  - swagger/**
"test":
  - "**/*_test.go"
"build/cicd":
  - Makefile
  - "**/Dockerfile"
  - "Dockerfile"
  - docker-compose.yml
  - "**/docker-compose.yml"
  - ".dockerignore"
  - "**/.dockerignore"
  - "Makefile"
  - "**/Makefile"
  - "RELEASE_PROCESS.md"
  - .github/**/*.yml
  - .golangci.yaml
