Repository AssetMantle/modules, pull requests merged in 2022-11, with the labels that each got.

#120 feat(mainainer): add permissions
  modules/assets/internal/transactions/deputize/keeper.go
  modules/assets/internal/transactions/deputize/message.go
  modules/assets/internal/transactions/deputize/request.go
  modules/assets/internal/transactions/deputize/transaction.go
  modules/classifications/auxiliaries/member/keeper_mock.go
  modules/identities/internal/module/constants.go
  modules/identities/internal/transactions/deputize/keeper.go
  modules/identities/internal/transactions/deputize/message.go
  modules/identities/internal/transactions/deputize/message_test.go
  modules/identities/internal/transactions/deputize/request.go
  modules/identities/internal/transactions/deputize/request_test.go
  modules/identities/internal/transactions/deputize/transaction.go
  modules/identities/internal/transactions/nub/keeper.go
  modules/maintainers/auxiliaries/deputize/keeper.go
  modules/maintainers/auxiliaries/deputize/request.go
  modules/maintainers/auxiliaries/super/keeper.go
  modules/maintainers/internal/mappable/mappable.go
  modules/maintainers/internal/simulator/genesis.go
  modules/maintainers/internal/utilities/permissions.go
  modules/orders/internal/transactions/deputize/keeper.go
  modules/orders/internal/transactions/deputize/message.go
  modules/orders/internal/transactions/deputize/message_test.go
  modules/orders/internal/transactions/deputize/request.go
  modules/orders/internal/transactions/deputize/transaction.go
  schema/documents/base/maintainer.go
  schema/helpers/constants/flags.go
  schema/ids/base/maintainerID.go
  schema/ids/constansts/classificationID.go
  schema/ids/constansts/string.go
  schema/ids/constansts/stringID.go
  schema/ids/utilities/id.go
  schema/lists/base/idList.go
  schema/lists/base/propertyList.go
  schema/lists/propertyList.go
  schema/qualified/constants/immutables.go
  schema/qualified/constants/mutables.go
Labels: test

#118 Fixing test cases after recent PR merge
  go.mod
  modules/assets/internal/mappable/mappable_test.go
  modules/assets/internal/parameters/dummy/validator_test.go
  modules/classifications/auxiliaries/define/keeper_test.go
  modules/classifications/auxiliaries/member/request_test.go
  modules/classifications/internal/mappable/mappable_test.go
  modules/classifications/internal/queries/classification/keeper_test.go
  modules/identities/internal/key/key_test.go
  modules/identities/internal/mappable/mappable_test.go
  modules/identities/internal/transactions/define/message_test.go
  modules/identities/internal/transactions/define/request_test.go
  modules/identities/internal/transactions/deputize/request_test.go
  modules/identities/internal/transactions/issue/message_test.go
  modules/identities/internal/transactions/issue/request_test.go
  modules/identities/internal/transactions/mutate/message_test.go
  modules/identities/internal/transactions/mutate/request_test.go
  modules/identities/internal/transactions/revoke/request_test.go
  modules/maintainers/auxiliaries/verify/keeper_test.go
  modules/metas/auxiliaries/scrub/keeper_test.go
  modules/metas/auxiliaries/scrub/request_test.go
  modules/metas/auxiliaries/scrub/response_test.go
  modules/metas/auxiliaries/supplement/keeper_mock.go
  modules/orders/internal/transactions/define/message_test.go
  schema/data/base/accAddressData_test.go
  schema/data/base/decData_test.go
  schema/data/base/heightData_test.go
  schema/data/base/idData_test.go
  schema/data/base/listData_test.go
  schema/data/base/stringData.go
  schema/data/utilities/string_test.go
  schema/documents/base/asset_test.go
  schema/documents/base/classification_test.go
  schema/documents/base/document_test.go
  schema/documents/base/identity_test.go
  schema/ids/base/dataID_test.go
  schema/lists/base/list_test.go
  schema/lists/utilities/propertyList_test.go
  schema/properties/base/mesaProperty_test.go
  schema/properties/base/metaProperty_test.go
  schema/qualified/base/immutables_test.go
  schema/qualified/base/mutables_test.go
Labels: test

#130 fix: add codeowner, add ig and telegram link in docs
  .github/CODEOWNERS
  README.md
Labels: documentation

#129 Adding default NubId and Maintainer
  modules/classifications/internal/genesis/prototype.go
  modules/classifications/internal/genesis/prototype_test.go
  modules/classifications/internal/module/constants.go
  schema/documents/constants/classification.go
Labels: test

#141 tests for maintainers keepers
  modules/maintainers/internal/key/key_test.go
  modules/maintainers/internal/mappable/mappable_test.go
  modules/maintainers/internal/parameters/prototype_test.go
  modules/maintainers/internal/queries/maintainer/keeper_test.go
  modules/maintainers/internal/queries/maintainer/request_test.go
Labels: test

#144 fix(codeowner): require either for * changes
  .github/CODEOWNERS
Labels: documentation

#140 Fixing full app simulation
  modules/classifications/auxiliaries/member/keeper_mock.go
  modules/classifications/internal/module/constants.go
  modules/maintainers/internal/simulator/genesis.go
  schema/applications/base/application.go
  schema/applications/base/simulationApplication.go
  schema/applications/simulationApplication.go
  schema/codec.go
  schema/data/base/heightData_test.go
  schema/ids/base/dataID_test.go
  schema/ids/base/hashID_test.go
  schema/ids/base/stringID_test.go
  schema/types/base/height_test.go
  schema/types/base/signature_test.go
  simulation/make/BenchmarkFullAppSimulation_test.go
  simulation/make/BenchmarkInvariants_test.go
  simulation/make/TestAppImportExport_test.go
  simulation/make/TestAppSimulationAfterImport_test.go
  simulation/make/TestAppStateDeterminism_test.go
  simulation/make/TestFullAppSimulation_test.go
  simulation/make/utils.go
  swagger/configurations/modules.go
  utilities/random/bool.go
Labels: documentation, enhancement, test

#135 tests: Add Classification Keepers tests
  modules/classifications/auxiliaries/conform/keeper_test.go
  modules/classifications/auxiliaries/conform/request_test.go
  modules/classifications/auxiliaries/define/keeper_test.go
  modules/classifications/auxiliaries/define/request_test.go
  modules/classifications/auxiliaries/define/response_test.go
  modules/classifications/auxiliaries/member/keeper_test.go
  modules/classifications/auxiliaries/member/request_test.go
  modules/classifications/internal/key/key_test.go
  modules/classifications/internal/mappable/mappable_test.go
  modules/classifications/internal/queries/classification/keeper_test.go
  modules/classifications/internal/queries/classification/request_test.go
Labels: test

#136 tests: assets keepers tests
  modules/assets/internal/key/key_test.go
  modules/assets/internal/mappable/mappable_test.go
  modules/assets/internal/queries/asset/keeper_test.go
  modules/assets/internal/queries/asset/request_test.go
  modules/assets/internal/transactions/burn/keeper_test.go
  modules/assets/internal/transactions/burn/message_test.go
  modules/assets/internal/transactions/burn/request_test.go
  modules/assets/internal/transactions/define/keeper_test.go
  modules/assets/internal/transactions/define/message_test.go
  modules/assets/internal/transactions/define/request_test.go
  modules/assets/internal/transactions/deputize/keeper_test.go
  modules/assets/internal/transactions/deputize/message_test.go
  modules/assets/internal/transactions/deputize/request_test.go
  modules/assets/internal/transactions/mint/keeper_test.go
  modules/assets/internal/transactions/mint/message_test.go
  modules/assets/internal/transactions/mint/request_test.go
  modules/assets/internal/transactions/mutate/keeper_test.go
  modules/assets/internal/transactions/mutate/message_test.go
  modules/assets/internal/transactions/mutate/request_test.go
  modules/assets/internal/transactions/renumerate/keeper_test.go
  modules/assets/internal/transactions/renumerate/message_test.go
  modules/assets/internal/transactions/renumerate/request_test.go
  modules/assets/internal/transactions/revoke/keeper_test.go
  modules/assets/internal/transactions/revoke/message_test.go
  modules/assets/internal/transactions/revoke/request_test.go
  modules/maintainers/auxiliaries/revoke/keeper_mock.go
  modules/metas/auxiliaries/supplement/keeper_mock.go
Labels: test

#143 add tests for splits
  modules/splits/auxiliaries/burn/keeper_test.go
  modules/splits/auxiliaries/burn/request_test.go
  modules/splits/auxiliaries/burn/response_test.go
  modules/splits/auxiliaries/mint/keeper_test.go
  modules/splits/auxiliaries/mint/request_test.go
  modules/splits/auxiliaries/renumerate/keeper_test.go
  modules/splits/auxiliaries/renumerate/request_test.go
  modules/splits/auxiliaries/transfer/keeper_test.go
  modules/splits/auxiliaries/transfer/request_test.go
  modules/splits/internal/key/key_test.go
  modules/splits/internal/mappable/mappable_test.go
  modules/splits/internal/queries/ownable/keeper_test.go
  modules/splits/internal/queries/ownable/request_test.go
  modules/splits/internal/queries/split/keeper_test.go
  modules/splits/internal/queries/split/request_test.go
  modules/splits/internal/transactions/prototype_test.go
  modules/splits/internal/transactions/send/keeper_test.go
  modules/splits/internal/transactions/send/message_test.go
  modules/splits/internal/transactions/send/request_test.go
  modules/splits/internal/transactions/unwrap/keeper_test.go
  modules/splits/internal/transactions/unwrap/message_test.go
  modules/splits/internal/transactions/unwrap/request_test.go
  modules/splits/internal/transactions/wrap/keeper_test.go
  modules/splits/internal/transactions/wrap/message_test.go
  modules/splits/internal/transactions/wrap/request_test.go
  modules/splits/internal/utilities/ownable_test.go
  modules/splits/internal/utilities/split_test.go
Labels: test

#146 fixing the recent push in types/codec.go, adding another full app simulation in makefile and updating swagger
  Makefile
  go.mod
  go.sum
  simulation/make/Makefile
Labels: build/cicd

#149 master test fixes
  modules/assets/internal/parameters/dummy/validator_test.go
  modules/assets/internal/queries/asset/request_test.go
  modules/assets/internal/transactions/burn/keeper_test.go
  modules/assets/internal/transactions/renumerate/keeper_test.go
  modules/classifications/auxiliaries/member/request_test.go
  modules/identities/internal/queries/identity/request_test.go
  modules/identities/internal/queries/prototype_test.go
  modules/identities/internal/transactions/define/message_test.go
  modules/identities/internal/transactions/define/request_test.go
  modules/identities/internal/transactions/deputize/request_test.go
  modules/identities/internal/transactions/issue/request_test.go
  modules/identities/internal/transactions/mutate/request_test.go
  modules/identities/internal/transactions/revoke/keeper_test.go
  modules/identities/internal/transactions/revoke/request_test.go
  modules/maintainers/auxiliaries/verify/keeper_test.go
  modules/maintainers/internal/mappable/mappable_test.go
  modules/metas/auxiliaries/supplement/keeper_mock.go
  modules/metas/auxiliaries/supplement/keeper_test.go
  modules/orders/internal/transactions/cancel/keeper_test.go
  modules/orders/internal/transactions/prototype_test.go
  schema/data/base/heightData_test.go
  schema/data/base/listData_test.go
  schema/lists/base/dataList_test.go
  schema/lists/base/idList_test.go
  schema/lists/base/list_test.go
  schema/properties/base/mesaProperty_test.go
  schema/properties/base/metaProperty_test.go
Labels: test
